.site {
    max-width: 620px;
    margin: auto;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: "Comic Sans Ms", sans-serif;
    font-size: 25px;
    color: red;
    margin-bottom: 5px;
}

.title {
    font-family: "Comic Sans Ms", sans-serif;
    font-size: 50px;
    color: red;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 30px;
}