.site {
    max-width: 560px;
    margin: auto;
    font-family: Verdana, sans-serif;
}

h2 {
    margin-bottom: 5px;
    font-family: Georgia, serif;
    font-weight: normal;
    color: red;    
}

h1 {
    font-family: Georgia, serif;
    font-weight: normal;
    color: red;    
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}